<div class="banner header-text">
  <div class="">
    <!-- <div class="banner-item-01">
      <div class="text-content">
        <h4>Best Offer</h4>
        <h2>New Arrivals On Sale</h2>
      </div>
    </div> -->
    <div class="banner-item-02">
      <div class="text-content">
        <h4>Black Diamond</h4>
        <h2>Get your best products</h2>
      </div>
    </div>
    <!-- <div class="banner-item-03">
      <div class="text-content">
        <h4>Last Minute</h4>
        <h2>Grab last minute deals</h2>
      </div>
    </div> -->
  </div>
</div>
<!-- Banner Ends Here -->

<section style="background-color: #f33f3f;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex align-items-center">
        <h1 style="width: 100%; text-align: center;" class="homeH2">Welcome To Our Website</h1>
      </div>
      <p class="welcomePara">BLACK DIAMOND CO FOR TRADING & SUPPLIES is one of Egypt's finest leading companies in
        general Supplies Such as Stationary , Medical Face Masks, Media (Printing-Brochures- Letterhead Papers - Notes
        ), Furniture , Detergent , complete piping packages.</p>
    </div>
  </div>
</section>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>About Black Diamond</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Looking for the best products?</h4>
          <p style="text-align: justify; text-justify: inter-word;">Naturally, we assume that the more rare or
            unattainable something is, the more valuable it is. Therefore, by providing items is already unique and hard
            to find somewhere else, can evoke a sense of curiosity, belonging, and importance in customers, and generate
            more purchasing as a result.</p>
          <ul class="featured-list">
            <li><a>Pipeline Supply</a></li>
            <li><a> Plumbing Products</a></li>
            <li><a>Fire Fighting Equipment And Safety</a></li>
            <li><a>Fire System Products</a></li>
            <li><a>Electronics Products</a></li>
          </ul>
          <a routerLink="/products" class="filled-button">See More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/feature-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<section style="background-color: #f33f3f;">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 d-flex align-items-center">
        <h2 class="homeH2">Easy Way to Get What you Need</h2>
      </div>
      <button routerLink="/contact-us" class="btn btn-light homeButton">
        <a style="color: #f33f3f;">contact us</a>
      </button>
    </div>
  </div>
</section>

<section class="features-section spad set-bg cards">
  <div class="container">
    <div class="row">
      <div style="margin-top: 6.5vh;" class="col-lg-4 col-md-6 col-sm-12">
        <div class="feature-box">
          <img src="../../../../assets/images/bestprices.jpg" alt="" class="w-100" style="height: 17em;">
          <div class="fb-text">
            <h5 style="color: #f33f3f;">Best Prices</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div  style="margin-top: 6.5vh;" class="feature-box">
          <img src="../../../../assets/images/delivary.jpg" alt="" class="w-100" style="height: 17em;">
          <div class="fb-text">
            <h5 style="color: #f33f3f;">Fast Delivery</h5>
          </div>
        </div>
      </div>
      <div  style="margin-top: 6.5vh;" class="col-lg-4 col-md-6 col-sm-12">
        <div class="feature-box">
          <img src="../../../../assets/images/bestQuality.jpg" alt="" class="w-100" style="height: 17em;">
          <div class="fb-text">
            <h5 style="color: #f33f3f;">Best Quality</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision">
  <div style="min-height: 80vh; overflow: hidden; margin-left: 0;margin-right: 0;" class="row">
    <div class="col-sm-12 col-md-6 visionImgDev">
    </div>

    <div class="col-sm-12  col-md-6 visionStringDev">
      <h2>Our Vision</h2>
      <p>Our objective is to make well log data analysis easy for everyone. Doesn’t need to pay too much for a software
        and go through a long process for installation. Our application will be online, easy to access from any device
        at any time without too much complexity to use. Displaying some important graphs and make some important
        calculations on the data. </p>

      <div class="d-flex">
        <img src="../../../../assets/images/AhmedMostafa.jpg">
        <div style="color: aliceblue; padding-top: 20px;">
          <h4 style="font-size: 15px;">Ahmed Morshedy</h4>
          <span style="opacity: .8; font-size: 13px;">Sales Enginner</span>
        </div>
      </div>
    </div>

  </div>
</section>