<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>Black Diamond</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a><img src="assets/images/Pipeline_Supply.jpeg" alt=""></a>
                                <div class="down-content">
                                    <h4>Pipeline Supply</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all dev">
                            <div class="product-item">
                                <a><img src="assets/images/Plumbing_Products.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Plumbing Products</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/FireFighting.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Fire Fighting Equipment (Safety)</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/FireSystem.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Fire System Products</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/Electronics.png" alt=""></a>
                                <div class="down-content">
                                    <h4>Electronics Products</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/PVCUPVC.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>PVC & UPVC Products</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/ss.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>SS Materials</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/DigitalPrint.jpeg" alt=""></a>
                                <div class="down-content">
                                    <h4>Digital Print & Promotions</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/officetools.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Stationary</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/MedicalMask.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Medical Face Masks</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/Furniture.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Furniture</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all gra">
                            <div class="product-item">
                                <a><img src="assets/images/Detergent.jpg" alt=""></a>
                                <div class="down-content">
                                    <h4>Detergent (Chemicals Products)</h4>
                                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla
                                        aspernatur.</p>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>