   <div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/feature-image.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p style="text-align: justify;">BLACK DIAMOND CO FOR TRADING & SUPPLIES is one of Egypt's finest leading companies in general Supplies Such as Stationary , Medical Face Masks, Media (Printing-Brochures- Letterhead Papers - Notes ), Furniture , Detergent , complete piping packages (Valves, Gasket, Clamps, , Pipes, fittings, plates, bolts, tubes….etc.) for oil and gas, construction, petrochemical, electromechanical projects and structure steel
              With the biggest indoor warehouse in Egypt, we provide materials to sites with the same mill fresh product condition which is a clear right for projects to have the same good quality during the duration of the projects.</p>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/Black-Diamond-Company-111592251021418/   "><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/black-diamond-co-for-trading-and-supplies"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Team Members</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img style="height: 300px;" src="assets/images/AhmedMostafa.jpg" alt="">
              <!-- <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="https://www.facebook.com/ahmed.rooney.543/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ahmed-hamed-7b8b20146/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div> -->
            </div>
            <div class="down-content">
              <h4>Ahmed Morshedy</h4>
              <span>Sales Enginner</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img style="height: 300px;" src="assets/images/Abdelhamed.jpg" alt="">
              <!-- <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="https://www.facebook.com/ahmed.abdelhameid1s"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdelrahman-gamal-sayed/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div> -->
            </div>
            <div class="down-content">
              <h4>Ahmed Abdelhamed</h4>
              <span>Logistics Engineer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Product Management</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Customer Relations</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Global Collection</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="happy-clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Happy Partners</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div>
            <div class="client-item">
              <img src="assets/images/cairogas.png" alt="1">
            </div>
            
            <div class="client-item">
              <img src="assets/images/canal.png" alt="2">
            </div>
            
            <div class="client-item">
              <img src="assets/images/idb.png" alt="3">
            </div>
            
            <div class="client-item">
              <img src="assets/images/almarasem.png" alt="4">
            </div>
            
            <div class="client-item">
              <img src="assets/images/egyptgas.png" alt="5">
            </div>

            <div class="client-item">
              <img src="assets/images/gobus.png" alt="5">
            </div>

            <div class="client-item">
              <img src="assets/images/kharafi.jpg" alt="5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>